הוספת סגנונות כלליים
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%; /* הכרחי כדי להבטיח שהתוכן ייתפס על כל הגובה */
}

#root {
  height: 100%; /* מבטיח ש-#root יתפוס את כל גובה הדף */
}

body {
  font-family: Arial, sans-serif;
  overflow: hidden; /* מונע גלילה */
}

